@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.chooseitem{
    padding: 30px 40px;
    display: block;
    width: 100%;
    height: 100%;
    // z-index: 1;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    
    background-size: 500% 500%;
    background-position: top right;
    @include md{
       background-color: $soft-bg;
    }

}
.chooseitem:nth-child(even){
    background-image:  radial-gradient(ellipse at bottom, #fff 0%, $soft-bg 100%);
}
.chooseitem:hover{
    transform: scale(1.1);
    box-shadow: 1px 10px 20px 0.5px rgba(0, 0, 0, 0.098);
    background-position: bottom center;
    background-image:  radial-gradient(ellipse at top, $soft-bg 0%, #fff 100%);
    background-size: 100% 100%;
    background-color: #fff;
    z-index: 1;

    @include md{
        background-color: $soft-bg;
     }
  
}
h3{
    color: $main-color;
    font-weight: 300 !important;
    font-size: 2.5rem !important;
}
.chooseitem p{
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.chooseitem:hover p{
    opacity: 1;
}
.card1{
    grid-area: card1;
    background-color: $soft-bg;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
    background-color: $soft-bg;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
    background-color: $soft-bg;
}